@define-color lithium-background #1f1f1f;
@define-color lithium-foreground lightgrey;
@define-color lithium-background-monkai #282828;

GtkWindow {
	background-color: @lithium-background; /* dark grey */
}

* {
	-GtkRange-slider-width: 7px;
}

/* tab color */
#lithium_nb {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	margin-top: 5px;
}

#lithium_nb tab {
	/* background-image: url("../res/rtab.png"); */
	background-color: shade(@lithium-background, 1.2);
	border-radius: 5px;
}

#lithium_nb tab:active {
	background-color: shade(@lithium-background, 1.7);
}

/* tab text */
#lithium_nb > GtkLabel {
	color: grey;
}

#file_view {
	color: @lithium-foreground;
	font: Ariel 8;
	box-shadow: inset 0 0 1px alpha(black, 0.5);
	background-color: @lithium-background;
	color: @lithium-foreground;
	border: none;
}

#file_view > * {
	box-shadow: none;
}

#editor_pane{
	color: @lithium-foreground;
	background-color: @lithium-background-monkai;
	font: Ariel 8;
}

#editor_pane:selected {
	background-color: shade(@lithium-background-monkai, 1.5);
}

/* command entering box */

#command {
	box-shadow: inset 0 0 1px alpha(black, 0.5);
	font: Ariel 10;
	background-color: @lithium-background;
	color: @lithium-foreground;
	border-width: 5px;
	border-color: shade(@lithium-background, 1.2);
	border-radius: 0px;
}

#command:selected {
	background-color: shade(@lithium-background-monkai, 1.5);
}

/* experimental scrollbar styling */
.slider.vertical {
	background-color: shade(@lithium-background-monkai, 1.8);
	border-radius: 5px;
	border-width: 0px;
}

/* mouse hover */
.slider.vertical:hover {}

/* when clicked */
.slider.vertical:active {}

.trough {
	background-color: shade(@lithium-background-monkai, 1.2);
}
